.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 0px;
  font-size: 16px;
  padding: 20px;
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.column.grey {
  background-color: #eeeeee;
}

pre {
  margin: 0
}

.error {
  border-radius: 4px;
  background: #e74c3c;
  color: white;
  font-size:18px;
  padding: 20px;
}